
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
body {
 margin:auto;
 width:300px;
}
b {
 font-family:arial;
 color:black;
 font-size:18px;
 }
 .results { 
 font-weight: bold;
 font-family:arial;
 font-size:18px;
 color:black;
}
textarea {
 width: 360px;
    height: 100px;
 display: block;
 font-family: arial;
 font-size: 18px;
 border-radius: 2px;
 box-shadow: 5px 5px 5px green;
 border:black 1px solid;
 text-indent:10px;
}
textarea:focus {
 outline: none;
 border:green 2px dotted;
}
input[type=button] {
padding:10px; 
background:azure;
border:black 1px solid;
cursor:pointer;
-webkit-border-radius: 12px;
box-shadow: 5px 5px 5px green;
border-radius: 5px; 
font-family: arial;
font-size: 18px;
}